<footer>
  <div class="relative bg-[#181D26] py-[60px] max-lg:overflow-hidden">
    <img src="./img/footer1.webp" alt="Отримайте консультацію нашого юриста" class="absolute -left-[5rem] bottom-0 max-md:w-[200px] md:-bottom-40 md:-left-44 lg:-left-20 lg:bottom-0" />
    <img src="./img/footer2.webp" alt="Отримайте консультацію нашого юриста" class="absolute -right-20 bottom-0 max-md:w-[200px] md:-bottom-40 lg:bottom-0 lg:right-20" />
    <div class="container relative z-10 flex flex-col items-center px-4 text-center">
      <div class="mb-10 flex max-w-[615px] flex-col gap-y-5 max-sm:items-center sm:gap-y-[30px]">
        <h2 class="font-['Blacker'] text-[22px] font-bold text-white sm:text-4xl">Отримайте консультацію професійного юриста</h2>
        <p class="text-base font-bold text-white sm:text-xl">Задайте будь-яке питання безпосередньо в:</p>
      </div>
      <a href="#" class="group flex items-center gap-x-2 border-2 border-[#CCA776] bg-[#CCA776] p-4 transition-colors hover:bg-[#CCA776]/90">
        <span class="text-base font-normal text-white">Зв'язатися в Telegram</span>
        <svg class="size-5 text-white sm:size-6">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </div>
  </div>

  <div class="bg-[#0E1116]">
    <div class="container flex flex-wrap items-center justify-between gap-y-8 py-8 max-lg:flex-col lg:gap-y-3 lg:space-x-3 lg:py-9">
      <a href="/">
        <img src="./img/logo-footer.svg" alt="Logo" class="h-[51px] w-[193px] object-contain sm:h-[64px] sm:w-[239px]" />
      </a>
      <nav>
        <ul class="flex items-center gap-y-[30px] max-lg:flex-col lg:gap-x-[50px]">
          <li>
            <a href="#services" class="uppercase text-white text-sm transition-colors hover:text-primary">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-white text-sm transition-colors hover:text-primary">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-white text-sm transition-colors hover:text-primary">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-white text-sm transition-colors hover:text-primary">Контакти</a>
          </li>
        </ul>
      </nav>
      <a href="#" class="group flex items-center gap-x-2 border-2 border-[#CCA776] bg-[#0E1116] p-4 transition-colors hover:bg-[#CCA776]/90">
        <span class="text-base font-normal text-white">Зв'язатися в Telegram</span>
        <svg class="size-5 text-white sm:size-6">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </div>
    <div class="border-t border-[#D2D2D2]/50">
      <div class="container flex items-center justify-center gap-x-4 gap-y-[20px] py-8 max-lg:flex-col lg:py-4">
        <p class="text-center text-base text-[#8E8E8E]">© 2024. The Legal Way Всі права захищені</p>
      </div>
    </div>
  </div>
</footer>
