<header class="bg-white">
  <div>
    <div class="container flex items-center justify-between gap-x-4 py-2.5 lg:justify-start">
      <a href="tel:(063)76-13-177" class="group flex items-center gap-x-2.5 border-stone-600 sm:mr-[50px]">
        <svg class="size-5 text-[#CCA776] sm:size-6">
          <use href="./sprites/sprite.svg#icon-tel"></use>
        </svg>
        <p class="text-sm font-normal text-zinc-600 transition-colors group-hover:text-primary sm:text-base">(063) 76-13-177</p>
      </a>
      <a href="#location" class="group flex items-center gap-x-2.5 max-lg:hidden lg:mr-auto">
        <svg class="size-6 text-[#CCA776]">
          <use href="./sprites/sprite.svg#icon-loc"></use>
        </svg>
        <p class="text-sm font-normal text-zinc-600 transition-colors group-hover:text-primary sm:text-base">Проспект. Олександра Поля 85</p>
      </a>
      <div class="flex items-center gap-x-2.5 max-lg:hidden">
        <svg class="size-6 text-[#CCA776]">
          <use href="./sprites/sprite.svg#icon-clock"></use>
        </svg>
        <p class="text-sm font-normal text-zinc-600 transition-colors sm:text-base">Консультація 24/7</p>
      </div>
      <a href="#" class="flex items-center gap-x-2 border-2 border-[#CCA776] p-2.5 transition-colors hover:bg-[#CCA776]/10">
        <span class="hidden text-base font-normal text-zinc-600 sm:block">Зв'язатися в Telegram</span>
        <span class="block text-sm font-normal text-zinc-600 sm:hidden sm:text-base">Зв'язатися в TG</span>
        <svg class="size-5 text-[#CCA776] sm:size-6">
          <use href="./sprites/sprite.svg#icon-telegram"></use>
        </svg>
      </a>
    </div>
  </div>

  <div>
    <div class="flex flex-col items-center">
      <a href="/">
        <img src="./img/logo.svg" alt="Logo" class="mt-4 sm:mt-5 mb-5 sm:mb-7 h-[40px] w-[254px] object-contain sm:h-[49px] sm:w-[309px]" />
      </a>
      <nav class="hidden w-full justify-center border-t border-[#EBEBEB] py-5 lg:flex">
        <ul class="flex items-center lg:gap-x-[50px]">
          <li>
            <a href="#services" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Послуги</a>
          </li>
          <li>
            <a href="#about" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Про нас</a>
          </li>
          <li>
            <a href="#comments" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Відгуки</a>
          </li>
          <li>
            <a href="#contacts" class="uppercase text-typo-200 underline-offset-8 transition-colors hover:underline">Контакти</a>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
